{% extends 'base.html' %}

{% block title %} Strona główna {% endblock %}

{% block content %}
    <h1>Panel głowny</h1>

    {% with total_images_created=request.user.images_created.count %}
        <p>Witaj w panelu głównym. Dodałeś {{ total_images_created }} obraz{{ total_images_created|pluralize:"ów" }}.</p>
    {% endwith %}

    <p>
        Przeciagnij poniższy przycisk na pasek ulubionych. Zaskocz możliwość dodawania obrazów z innych witryn internetowych
        <br><br>
        <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button" >Dodaj obraz</a>
    </p>

    <p>
        Możesz <a href="{% url "edit" %}">edytować profil</a>.
    </p>

{% endblock %}